body {
    color: #f0a69b;
}

a, p, h1 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

a, p, h1 {
    color: #9a3836;

}

a, p {
    font-size: 25px;
    text-align: center;
}

h1 {
   text-align: center;
   font-size: 50px; 
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

div .img {
    display: flex;
    align-items: center;
    border-width: 8px;
    border-radius: 24px;
    border-color: #bb6c69;
}
img {
    height: 300px;
    border-radius: 16px;
    margin: 8px
}