{%extends "header.html"%}
{% block body %}
    <div class="content">
        <div class="img">
            <img src="static/images/dc.jpg" alt=""> 
            <img src="static/images/obchestvo.jpg" alt=""> 
        </div>
        <p>И самое главное - они пообещали друг другу всегда быть рядом, всегда стараться поддержать и никогда не забывать друг друга. И они держали свое слово</p>
    </div>
    <div class="navigation">
        <a href="fourth.html.html">Отмотать назад</a>
        <a href="sixth.html">Заглянуть вперед</a>
    </div>
{% endblock body%}