{% extends "header.html"%}
{% block head %}
{% endblock head %}
{% block body %}
<div class="content">
    <div class="img">
        <img src="static/images/mili_dorn.jpg" alt=""> 
        <img src="static/images/milimili_melasha.jpg" alt="">
    </div>
    <p>Жила-была маленькая девочка Мелаша. Все у нее в жизни было спокойно и хорошо, она жила и пыталась найти свой путь в этом огромном мире. И вот однажды...</p>
</div>
    <div class="navigation">
        <a href="">Отмотать назад</a>
        <a href="second.html">Заглянуть вперед</a>
    </div>
{% endblock body%}