{%extends "header.html"%}
{% block body %}
    <div class="content">
        <div class="img">
            <img src="static/images/him_labi.jpg" alt=""> 
            <img src="static/images/winter.jpg" alt=""> 
        </div>
        <p>Они учились, занимались любимыми делами, мечтали о будущем, иногда ссорились, но всегда находили общий язык и работали над собой </p>
    </div>
    <div class="navigation">
        <a href="fifth.html">Отмотать назад</a>
        <a href="seventh.html">Заглянуть вперед</a>
    </div>
{% endblock body%}