{%extends "header.html"%}
{% block body %}
    <div class="content">
        <div class="img">
            <img src="static/images/pink_sweater.jpg" alt=""> 
            <img src="static/images/obsh.jpg" alt=""> 
            <p>Вместе они открыли для себя новые чувства, они полюбили друг друга и с этого момента их жизнь навсегда изменилась</p>
        </div>
    </div>
    <div class="navigation">
        <a href="second.html.html">Отмотать назад</a>
        <a href="fourth.html">Заглянуть вперед</a>
    </div>
{% endblock body%}